<!DOCTYPE html>
<html lang="en">
<head>
    <title>DND Slop</title>
    <meta charset="UTF-8">
</head>
<body>

<div th:if="${sessionId != null}">
    <label for="session">Session:</label>
    <span id="session" th:text="${sessionId}"></span>
</div>

<form th:action="@{/adventure}" method="post">
    <label for="message">Message:</label>
    <input type="text" name="message" id="message">
    <input type="submit" value="send" id="send">
</form>

<div th:if="${response != null}">
    <p id="response" th:text="${response}"></p>
</div>

</body>
</html>